<app-menu></app-menu>
<h1 class='text-center title'>Tech your Future</h1>
<div class="container">
    <div class="row">
        <figure class="col-3">
            <a target="_blank" href="https://www.linkedin.com/in/aur%C3%A9lie-avisse28/">
                <img src='https://media.licdn.com/dms/image/C5603AQEWnxRa8mPcyA/profile-displayphoto-shrink_800_800/0?e=1530748800&v=beta&t=tK_q0bvxJHpN4HVxpeeU7n2hQpuep_OM82w2P68QDKc'>
            </a>
            <figcaption style="text-align: center">Aurélie AVISSE</figcaption>
        </figure>
        <figure class="col-3 view">
            <a target="_blank" href="https://www.linkedin.com/in/jonathan-zietek/">
                <img src='https://media.licdn.com/dms/image/C5603AQGrwDc_2WiJbA/profile-displayphoto-shrink_800_800/0?e=1530748800&v=beta&t=nVPVlZZ9gF8GvpJo434i9ll3XL7aPMe8i0pL-H2DtkY'>
            </a>
            <figcaption style="text-align: center">Jonathan ZIETEK</figcaption>
        </figure>
        <figure class="col-3">
            <a target="_blank" href="https://www.linkedin.com/in/jordan-leveque-287993159/">
                <img src='https://media.licdn.com/dms/image/C4E03AQHWUlxvaPXUAA/profile-displayphoto-shrink_800_800/0?e=1530748800&v=beta&t=gK8OLFjt_fAcTSz2rweMqfAdh3FuLAyQlVciABI-vBI'>
            </a>
            <figcaption style="text-align: center">Jordan Leveque</figcaption>
        </figure>
        <figure class="col-3">
            <a target="_blank" href="https://www.linkedin.com/in/anna-flourou">
                <img src='https://avatars3.githubusercontent.com/u/36538599?s=460&v=4'>
            </a>
            <figcaption style="text-align: center">Anna FLOUROU</figcaption>
        </figure>
    </div>
    <div class="orgaText" style="text-align: center">
        <p>Discover our team who organised from A to Z this event. Click on our photos if you want us to work with you !</p>
        <p>Our method recipe : 100% Team Spirit, 100% Success, 200% motivation and 300% skills. Student from one of the best
            coding school over the planet, the
            <a href="https://wildcodeschool.fr/" target="_blank">Wild Code School</a>, we give our best to reach our goals and rise tough challenges.</p>
        <p>Here, you won't find any anger or individual behavior. We are a team from the beginning to the end.
        </p>
    </div>
</div>