
* {
  font-family: 'PT Serif', serif;
}

body {
  padding: unset;
  margin: unset;
  background-image: url(http://sfwallpaper.com/images/black-and-green-backgrounds-6.jpg);
  background-attachment: fixed;
}

.titlef {
  font-family: 'Fredericka the Great', cursive;
}