.title {
  position: relative;
}
.titlef{
  font-size: 10rem;
}
.p {
  z-index: 101;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  text-align: center;
  top: 255px;
  font-size: 3rem;
  text-align: center;
  color: #bbffe5;
  text-shadow: 0px 2px black, 2px 0px black, 0px -2px black, -2px 0px black, 2px 2px black, 2px -2px black, -2px -2px black, -2px 2px black;
}

.tewt {
  z-index: 101;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  text-align: center;
  top: 0px;
  color: /*rgb(113, 248, 248)*/ goldenrod;
  text-shadow: 0px 2px black, 2px 0px black, 0px -2px black, -2px 0px black, 2px 2px black, 2px -2px black, -2px -2px black, -2px 2px black;
}

.about {
  z-index: 101;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 4px solid black;
  background-color: rgba(255, 255, 255, 0.226);
  border-radius: 10%;
  text-align: center;
  top: 453px;
  font-size: 2.2rem;
  padding: 10px;
  
}

  .about:hover {
  border: 1px solid;
  /*box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);*/
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
  /*color: white;*/
}

.widthCarousel {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
}

.heightImg {
  height: 100vh;
  width: auto;
}

.day{
  font-size: 4rem;
  padding-bottom: 36px;
  text-shadow: 0px 2px black, 2px 0px black, 0px -2px black, -2px 0px black, 2px 2px black, 2px -2px black, -2px -2px black, -2px 2px black;
  
}

.eventText{
  font-size: 3.2rem;
  padding-bottom: 58px;
  font-weight: bold;



}
