<app-menu></app-menu>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class='title text-center'>Tech your Future</h1>
        </div>
    </div> 
    <div class='row'>
        <img src='./../../assets/earth-globe.svg' class='mx-auto' style='width:7vw;'/>
    </div>
    <div class="row">
    <div class="col-3 team" *ngFor="let team of teams">
        <table class="teamTable text-center">
            <tr>
                <th>Team {{ team.name }} - <span class="country">{{ team.country }}</span><img src="{{ team.flag }}" class="flag"></th>
            </tr>
            <tr *ngFor="let member of team.members">
                <td>{{ member }}</td>
            </tr>
        </table>
    </div>
</div>
</div>
