.title {
    color: white;
    margin-bottom: 5%;
    font-weight: bold;

}

.result {
    margin: 15px 0px;
}

.scoreTable {
    width: 300px;
    border: 1px black solid;
}

.scoreTable td, th {
    border: 1px solid black;
}

.scoreTable th {
    background-color: yellowgreen;
}

.scoreTable tr:nth-child(odd) {
    background-color: white;
}

.scoreTable tr:nth-child(even) {
    background-color: rgb(204, 195, 195);
}

.country {
    color: blue
}

.flag {
    margin-left: 2%;
    margin-bottom: 1%;
    width: 6%;
    height: 4%;
}