<app-menu></app-menu>
<div>
  <h1 class="text-center">Tech your futur</h1>
  <div class="container">
    <p class='text-center'>Tech your Future est l'événement de l’année. Le concept: des équipes de dev présélectionnées parmi les plus grandes écoles
      du monde vont se confronter lors d’une compétition qui vise à promouvoir le développement durable. Ils devront, via
      un thème attribué à chaque étape, développer une solution digitale (application, objet connecté, …) afin d’améliorer
      le monde de demain.
      <br/>L'événenment se deroule sur 3 jours, 1 étape par jour, 1 thème par étape.
      <br/>8 équipes participantes au début mais il n'en resteras qu'une !
    </p>
    <div class='row'>
      <div class="card text-white bg-primary mb-3 col-4" style="max-width: 18rem;">
        <div class="card-header cards">Day Ones</div>
        <div class="card-body">
          <h5 class="card-title">Thème: Social</h5>
          <li class="card-text">Logement</li>
          <li class="card-text">Santé</li>
          <li class="card-text">Alimentation</li>
        </div>
      </div>
      <div class="card bg-light mb-3 col-4" style="max-width: 18rem;">
        <div class="card-header">Day Two</div>
        <div class="card-body">
          <h5 class="card-title">Thème: Environnement</h5>
          <li class="card-text">Présérvation environmental</li>
          <li class="card-text">Pollution</li>
          <li class="card-text">Recyclage</li>
        </div>
      </div>
      <div class="card text-white bg-danger mb-3 col-4" style="max-width: 18rem;">
        <div class="card-header">Day Three</div>
        <div class="card-body">
          <h5 class="card-title">Thème: Urbanisme</h5>
          <li class="card-text">Optimisation technologique urbaine</li>
        </div>
      </div>
    </div>
  </div>
</div>