<app-menu></app-menu>
<div class="container textColor">
<div class="description" style="text-align: center">
  <h1 class="title">Tech your Future</h1>
  <p>Tech Your Future is the most important event of the year regarding dev championship! The challenge deals with a meeting of dev teams selected from the best schools all over the world. These dev teams are going to contend with oher countries in order to promote sustainable development.
      The teams will have to elaborate digital solution (web / mobile app, connected items, smart device) in order to improve the world of tomorrow.</p>
    
  <h3>3 days = 3 themes = 3 challenges</h3>

    <br/><h4>There wil be just one left!</h4>

</div>
<hr>
  <div class="row text-center">
    <figcaption class="col-4">
      <h1 class="day">Day 1</h1>
      <hr>
      <h3>Social</h3>
      <p>For this first challenge, dev teams will confront on one theme: social issues regarding sustainable development. </p>
      <p>The aim is to make education, healthcare or feeding current issues. i.e to give relevant ideas to improve those subjects.
          Students are free to code tomorrow's social.</p>
    </figcaption >
    <figcaption class="col-4">
      <h1 class="day">Day 2</h1>
      <hr>
      <h3>Environment</h3>
      <p>Second day : half of the teams are still running the contest, from this point it deals with environment</p>
      <p>Atmosphere, oceans and continents : tomorrow's purpose is to live on a clean planet. The main question comes over and over : are they going to convince the jury to change the world? Good luck!</p>
      
    </figcaption>
    <figcaption class="col-4">
      <h1 class="day">Day 3</h1>
      <hr>
      <h3>Urban Organisation</h3>
      <p>Last day and last challenge: this is the final contest! Only the best teams will fight a duel. This is the hardest challenge but urban organisation can't wait!
      </p>
      <p>To win this ultimate battle, our dev teams will process to a tricky subject: How to live and organise our tomorrow's cities?</p>
    </figcaption>
  </div>
  <div>
    <h4>Reward</h4>
    <p>The winner team will gain a trip to Martinique in order to discover french island (DOM-TOM)</p>
    <p>The second team will obtain a computer for each member</p>
  </div>
</div>


