.title {
    color: white;
    margin-bottom: 5%;
    font-weight: bold;
}

.description {
    color: white;
    margin-bottom: 5%;
}

.day {
    font-weight: bold;
    color: lightgray
}

.textColor {
    color: lightgray;
}
