.logo {
    height: 15%;
    width: 15%;
}

li>a {
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 0px 2px black, 2px 0px black, 0px -2px black, -2px 0px black, 2px 2px black, 2px -2px black, -2px -2px black, -2px 2px black;
}

.socialImage {
    margin-right: 5px;
}