<!-- <div class='nav-menu'>

  <button (click)='pos()' class='linker titlef {{ buttonMenu }}'>{{ position }}</button>

  <div id="accordion" class='{{ menu }}'>
    <div class="card">
      <div class="collapse show">
        <div class="card-body">
          <p class='linker'>
            <a (click)='click("")'>Home</a>
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0" style="text-align:center">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Dev Contest
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <p class='linker'>
            <a (click)='click("about")'>About</a>
          </p>
          <p class='linker'>
            <a (click)='click("program")'>Program</a>
          </p>
          <p class='linker'>
            <a (click)='click("results")'>Result</a>
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0" style="text-align:center">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Teams dev
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <p class='linker'>
            <a (click)='click("teamsLists")'>Teams</a>
          </p>
          <p class='linker'>
            <a (click)='click("organizer")'>Organizer</a>
          </p>
          <p class='linker'>
            <a (click)='click("sponsor")'>Sponsor</a>
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0" style="text-align:center">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Social networks
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body" style="text-align:center">


          <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square" style="font-size:48px;color:green"></i></a>

          <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:48px;color:green"></i></a>

          <a href="https://twitter.com/?lang=fr"target="_blank"><i class="fa fa-twitter-square" style="font-size:48px;color:green"></i></a>

        </div>
      </div>
    </div>

  </div>
</div> -->
<nav class="navbar navbar-expand-sm navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">
    <img class="logo" src="http://www.clextral.com/files/2013/08/dev_durable_fr_cmyk-300x300.jpg" alt="Logo">
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="">Home</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dev Contest
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="about">More information</a>
        <a class="dropdown-item" href="results">Tournament results</a>
      </div>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dev Teams
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="teamsLists">Team</a>
        <a class="dropdown-item" href="organizer">Organizer</a>
        <a class="dropdown-item" href="sponsor">Sponsors</a>
      </div>
    </li>
  </ul>
  <div class="offset-6">
    <a target="_blank" href="http://www.facebook.fr">
      <img class="socialImage" src="http://icons.iconarchive.com/icons/lunartemplates/modern-social-media-squares/32/Facebook-icon.png"
        alt="">
    </a>
  </div>
  <div>
    <a target="_blank" href="http://www.linkedin.com">
      <img class="socialImage" src="http://icons.iconarchive.com/icons/lunartemplates/modern-social-media-squares/32/LinkedIn-icon.png"
        alt="">
    </a>
  </div>
  <div>
    <a target="_blank" href="http://www.twitter.com">
      <img class="socialImage" src="http://icons.iconarchive.com/icons/lunartemplates/modern-social-media-squares/32/Twitter-icon.png"
        alt="">
    </a>
  </div>
  <div>
      <a target="_blank" href="http://www.instagram.com">
        <img class="socialImage" src="http://icons.iconarchive.com/icons/lunartemplates/modern-social-media-squares/32/Instagram-icon.png"
          alt="">
      </a>
    </div>
</nav>