<app-navbar-admin></app-navbar-admin>

<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current teams Score ({{ scores.length }})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Project Day1</th>
          <th scope="col">Score Day1</th>
          <th scope="col">Status1</th>
          <th scope="col">Project Day2</th>
          <th scope="col">Score Day2</th>
          <th scope="col">Status2</th>
          <th scope="col">Project Day3</th>
          <th scope="col">Score Day3</th>
          <th scope="col">Status3</th>
        </tr>
      </thead>
      <tbody *ngIf="scores.length === 0">
        <tr>
          <td colspan="4">There are no teams in the DB. Add a new team below.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let score of scores">
          <td>{{ score.name }}</td>
          <td>{{ score.projectDay1 }}</td>
          <td>{{ score.scoreDay1 }}</td>
          <td>{{ score.status1 }}</td>          
          <td>{{ score.projectDay2 }}</td>
          <td>{{ score.scoreDay2 }}</td>          
          <td>{{ score.status2 }}</td>          
          <td>{{ score.projectDay3 }}</td>
          <td>{{ score.scoreDay3 }}</td>          
          <td>{{ score.status3 }}</td>          

          <td>
            <button class="btn btn-sm btn-success" (click)="enableEditing(score)"><i class="fa fa-pencil"></i> Edit</button> 
            <button class="btn btn-sm btn-danger" (click)="deleteScore(score)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editScore(score)">
              <input class="form-control mr-2" type="text" name="name" [(ngModel)]="score.name" placeholder="Name" required>
              <input class="form-control mr-2" type="text" name="projectDay1" [(ngModel)]="score.projectDay1" placeholder="Project Day1">
              <input class="form-control mr-2" type="number" name="scoreDay1" [(ngModel)]="score.scoreDay1" placeholder="Score Day1">
              <input class="form-control mr-2" type="text" name="status1" [(ngModel)]="score.status1" placeholder="Rnd 1 - Pass | Eliminated">
              <input class="form-control mr-2" type="text" name="projectDay2" [(ngModel)]="score.projectDay2" placeholder="Project Day2">
              <input class="form-control mr-2" type="number" name="scoreDay2" [(ngModel)]="score.scoreDay2" placeholder="Score Day2">
              <input class="form-control mr-2" type="text" name="status2" [(ngModel)]="score.status2" placeholder="Rnd 2 - Pass | Eliminated">
              <input class="form-control mr-2" type="text" name="projectDay3" [(ngModel)]="score.projectDay3" placeholder="Project Day3">
              <input class="form-control mr-2" type="number" name="scoreDay3" [(ngModel)]="score.scoreDay3" placeholder="Score Day3">
              <input class="form-control mr-2" type="text" name="status3" [(ngModel)]="score.status3" placeholder="Rnd 3 - Pass | Eliminated">
              <button class="btn btn-sm btn-success mr-2" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new score</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addScoreForm" (ngSubmit)="addScore()">
      <input class="form-control mr-2" type="text" name="name" formControlName="name" placeholder="Name">
      <input class="form-control mr-2" type="text" name="projectDay1" formControlName="projectDay1" placeholder="Project Day1">
      <input class="form-control mr-2" type="number" name="scoreDay1" formControlName="scoreDay1" placeholder="Score Day1" step="any" min="0">
      <input class="form-control mr-2" type="text" name="status1" formControlName="status1" placeholder="Pass | Eliminated">      
      <input class="form-control mr-2" type="text" name="projectDay2" formControlName="projectDay2" placeholder="Project Day2">
      <input class="form-control mr-2" type="number" name="scoreDay2" formControlName="scoreDay2" placeholder="Score Day2" step="any" min="0">
      <input class="form-control mr-2" type="text" name="status2" formControlName="status2" placeholder="Pass | Eliminated">      
      <input class="form-control mr-2" type="text" name="projectDay3" formControlName="projectDay3" placeholder="Project Day3">      
      <input class="form-control mr-2" type="number" name="scoreDay3" formControlName="scoreDay3" placeholder="Score Day3" step="any" min="0">
      <input class="form-control mr-2" type="text" name="status3" formControlName="status3" placeholder="Pass | Eliminated">      

      <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>
